



@keyframes fadeIn {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeInNavbar {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeInTitle {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}