.navbar {
      width: 100%;
}

.navbar-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      padding-right: 3rem;
      animation: fadeInNavbar 4s linear;
      padding-left: 3rem;
}
.navbar ul {
      display: flex;
      justify-content: space-around;
        gap: 0.5rem;
            font-weight: 700;
            padding: 0;
}
.navbar div h1 {
      display: flex;
      flex-direction: column;
      text-align: center;
}
.navbar div {
      align-items: center;
      width: 25%;
      display: flex;
}

.navbar ul li {
      text-transform: uppercase;
    list-style-type: none;
}

@keyframes fadeInNavbar {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeInTitle {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}